body{
    background-color: rgb(241, 224, 202);
}
/* NAVIGATION BAR  */
.navbar-brand{
    font-weight: bold;
    font-size: 15px;
    border: solid 1px white;
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(43, 71, 43, 0.749)
}
.name{
    font-size: 20px;
}
/* ABOUT ME CARD */
.aboutmeHolder{
    background-color: rgba(52, 78, 52, 0.89);
    border: dashed 3px black;
}
.about-me{
    background-color: white;
    margin: 20px 10px;
}
.about-me-body{
   
    padding-top: 10px;
    padding-bottom: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* MAIN PAGE CARD BODY CSS */
.card-img-body{
    height: 100px;
    width: 100%;
    border: solid 1px black;
}
.each-card{
    background-color: black;
}
.card-deck{
    margin: 50px 20px;
    padding: 50px 20px;
    background-color: rgba(43, 71, 43, 0.749);
    border: dashed 2px black;
}
/* FOOTER */
.footer-contact{
    position: sticky;
    width: 100%;
    color: white;
    text-align: right;
}
/* .fab{
    width: 50px;
    height:50px;
} */
/* MAIN PAGE HEADER IMAGE AND TEXT */
.card-text-top{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 10;
    color:black;
    margin: 25px;
    padding: 5px 5px;
}
.card-zoom{
    overflow: hidden;
    margin-top: 90px;
    margin-bottom:20px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-zoom .card-img-top{
    transition: all 2s ease;
}
.card-zoom:hover .card-img-top{
    transform: scale(1.5);
}
.card-img-top{
    height: 400px;
    border: solid 5px black;
}
.card-img-overlay{
    height: 400px;
    margin-top: 95px;
}
.card-title{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 5px 5px black;
    margin-top: 120px;
};


