body{
    background-color: rgb(45, 69, 69);
}
.navbar-brand{
    font-weight: bold;
    font-size: 15px;
    border: solid 1px white;
    border-radius: 8px;
    padding: 5px;

}

.card-img-body{
    height: 200px;
    background-color: white;
    border: solid 1px black;
}

.each-card{
    background-color: black;
}

.card-deck{
    margin: 20px 20px;
    
}
.card-text-top{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 10;
    margin-left: 25px;
    margin-top: 50px;
}

.card-zoom{
    height: 500px;
    overflow: hidden;
}
.card-zoom .card-img-top{
    transition: all 3s ease;
}
.card-zoom:hover .card-img-top{
    transform: scale(1.5);
}
.card-img-top{
    height: 500px;
    border: solid 5px black;
}

.card-title{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 5px 5px black;
    margin-top: 20px;
};
